<div class="header-connect">
    <div class="container">
        <div class="row">
            <div class="col-md-5 col-sm-8 col-xs-8">
                <div class="header-half header-call">
                    <p>
                        <span><i></i>Experience the world with help of local people.</span>
                    </p>
                </div>
            </div>
            <div class="col-md-3 col-md-offset-4  col-sm-3 col-sm-offset-1  col-xs-3  col-xs-offset-1 header-half header-call">
              <% if guide_signed_in? %>
                <p>
                  <span>Olá, <%= current_guide.email %></span>
                </p>
              <% end %>
            </div>
        </div>
    </div>
</div>
