<div class="content-area">
    <div class="container">
        <div class="row page-title text-center wow bounce"  data-wow-delay="1s">
            <h2><span>CONTATO</span></h2>
            <h3>COMPANY DO BRASIL LTDA</h3>
            <h5>Alameda Santos, 1293 - São Paulo</h5>
            <h5>Fone: (11) 3003-7070</h5>
            <h5>E-mail: contato@company.com.br</h5>
        </div>
    </div>
</div>
